!!!
%html
  %head
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv' =>'Content-Type'}
  %body
    %p
      Bonjour
      = @user.name
    %p Un nouveau chapitre est disponible sur la plateforme de la prairie !
    %h4= link_to @chapitre.title, chapitre_url(@chapitre.id)
    %ul
      - @chapitre.ressources.each do |ressource|
        %li= ressource.title
    %p À très bientôt !
    %br
    %p L'équipe Simplon.ve