!!!
%html
  %head
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv' =>'Content-Type'}
  %body
    %p 
      Bonjour 
      = @user.name
    %p 
      L'aventure va bientôt commencer et vous pouvez dès maintenant accéder à la plateforme de la Prairie du Cheylard ! Pour cela, merci de vous rendre sur cette page 
      = link_to(edit_reset_password_url(id: @user.id), edit_reset_password_url(id: @user.id, key: @user.reset_password_key))
      et de changer votremot de passe.
    %p Vous pourrez ensuite vous connecter à la plateforme en utilisant votre adresse mail et votre mot de passe.
    %p 
      Si jamais ce message ne correspond pas à une inscription ou une demande de votre part, merci de nous le signaler à Mélanie à l'adresse suivante : mlncamara@gmail.com
    %p À très bientôt !
    %br
    %p L'équipe Simplon.ve