!!!
%html
  %head
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv' =>'Content-Type'}
  %body
    %p
      Bonjour
      = @user.name
    %p
      L'aventure va bientôt commencer et vous pouvez dès maintenant accéder à la plateforme de la Prairie du Cheylard ! Pour cela, rendez-vous sur cette page
      = link_to(edit_reset_password_url(id: @user.id), edit_reset_password_url(id: @user.id, key: @user.reset_password_key)) 
      et changez votre mot de passe.
    %p Vous pourrez ensuite vous connecter à la plateforme en utilisant votre adresse mail et votre mot de passe.
    %h4 Qui est derrière la Prairie ?
    %p Je m'appelle Vincent Jumeaux, formateur de la première promotion de Simplon.VE. L'aventure Simplon a commencé pour moi en étant un Simplonien de la promo#1 de Montreuil. J'ai pu voir de l'intérieur ce qu'on y apprenait et comment nous l'avons appris. Nous aurons l'occasion de revenir sur mon parcours après le 13 avril. Je vous propose donc de suivre cette formation avec moi, à commencer par la Prairie un petit site fait en Rails construit pour l'occasion : un outil de partage de ressources, qui ressemble beaucoup à un corpus de documents pour l'instant (de moi vers vous). Un petit exercice à faire durant la formation pourrait rendre l'application parfaitement horizontale. 
    %h4 Pourquoi lançons-nous cette prairie ?
    %p La prairie est mise en place pour plusieurs raisons :
    %ul
      %li Vous êtes déjà sélectionné et motivé, profitons de ce mois pour aborder les sujets que nous travaillerons ensemble !
      %li Certaines lectures aborderont des textes fondateurs de la programmation, du collaboratif, de l'agile etc. Avec ces textes, nous allons nous forger une culture commune. Un vocabulaire commun pour bien se comprendre.
      %li Grâce à la Prairie, les "découvreurs" de la programmation peuvent "débroussailler" de manière autonome certains principes de bases, comme par exemple le HTML/CSS principalement abordé dans le chapitre 2.
      %li A la rentrée, la Prairie permettra une autoévaluation de chacun sur la compréhension de la programmation d'applications web.
    %h4 Comment utiliser les ressources de la Prairie
    %p Chaque chapitre comportera des exercices, de la lecture et des activités à étaler sur toute votre semaine. Ne mangez pas toute la tablette d'un coup, dégustez votre carré de chocolat jour après jours ;)
    %p Chaque ressource est un appel à explorer vos propres liens. Si vous avez des difficultés avec l'anglais essayez les traducteurs automatiques (Google est le plus connu). Si vraiment la traduction est mauvaise, utilisez les mots-clés pour chercher une ressource en français. Si elle vous parle, ajoutez la à un retour d'exploration -- bouton en haut à droite de cette page.
    %p Certains peuvent penser que les ressources sont trop abstraites ou trop loin de leur connaissance pour comprendre le sens. C'est entièrement normal ! Pour vous aider à apprendre de manière autonome sur certains sujets, beaucoup de notions ne seront abordées que superficiellement. C'est voulu ! Simplon vous arme avec des notions fondamentales et des outils pour explorer seul. Ces articles ne sont donc que le début de l'exploration de la partie émergée de l'iceberg, il est normal qu'ils n'aient pas tous un sens pour chacun d'entre vous. A la fin de la formation, nous aurons exploré toute la partie émergée, et vous serez alors capable de découvrir le reste par vous-même, selon vos envies, vos projets, vos activités.
    %p Dernier point concernant les ressources, vous aller vite remarquer que l'on tourne souvent autour des même sites francophones (OpenClassrooms, AlsaCréation, Grafikart). Ce n'est pas un hasard ! Le monde francophone est plutôt petit, donc si vous avez du mal avec l'anglais, utilisez leurs ressources à fond. Par contre, il faut savoir que la documentation en anglais est tellement énorme, que vous devrez vous mettre à l'anglais si vous voulez être un professionnel du développement web.
    %p Accordez du temps à chaque ressource, mais si vraiment elle ne vous parle pas, passez à une autre. Malgré tout, l'assiduité à la Prairie est nécessaire. Ne perdez pas de temps, commencez votre formation dès aujourd'hui !
    %h4 De l'interactivité !
    %p
      Vous recevrez une invitation dans la semaine pour vous inscrire sur une application de 'chat' qui cartonne en ce moment : 
      = link_to("Slack", "https://simplonve.slack.com")
      Slack va vous permettre de faire connaissance, de discuter des documents de la prairie et de vous organiser pour venir à Poleyrieux en petits groupes (mais pas toute suite !). Fin mars, nous vous enverrons un email précisant les modalités de votre possible venue. A suivre.
    %p Si jamais ce message ne correspond pas à une inscription ou une demande de votre part, merci de nous le signaler à Mélanie à l'adresse suivante : mlncamara@gmail.com
    %p À très bientôt !
    %br
    %p Vincent et l'équipe Simplon.VE