!!!
%html
  %head
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv' =>'Content-Type'}
  %body
    %p 
      Bonjour 
      = @user.name
    %p 
      L'aventure va bientôt commencer et vous pouvez dès maintenant accéder à la plateforme de la Prairie du Cheylard ! Pour cela, merci de vous rendre sur la page de 
      = link_to(edit_reset_password_url(id: @user.id), edit_reset_password_url(id: @user.id, key: @user.reset_password_key))
      et de le changer.
    %p Vous pourrez ensuite vous connecter à la plateforme en utilisant votre adresse mail et votre mot de passe.
    %p Si jamais ce message ne correspond pas à une inscription ou une demande de votre part, merci de nous le signaler à [equipe@simplon.ve](mailto:equipe@simplon.ve).
    %p À très bientôt !
    %p Léquipe Simplone.ve"