@import 'foundation_and_overrides';

.top-bar{ 
  height: 3rem;
  input {height: 2rem}
}

main {
  margin: 2em;
}

.piste_verte {
  background-color: green
}

.piste_bleue {
  background-color: blue
}

.piste_rouge {
  background-color: red
}

.piste_noire {
  background-color: black
}
