@import 'foundation_and_overrides';

main {
  margin: 2em;
}

.piste_verte {
  background-color: green
}

.piste_bleue {
  background-color: blue
}

.piste_rouge {
  background-color: red
}

.piste_noire {
  background-color: black
}
