%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %section.top-bar-section
    %ul.left
      %li=link_to(t('home'), root_path)
%ul.breadcrumbs
  %li=link_to(t('chap1'), chapitre_path(id: 1))
  %li.unavailable=link_to(t('chap2'), chapitre_path(id: 2))
  %li.unavailable=link_to(t('chap3'), chapitre_path(id: 3))
  %li.unavailable=link_to(t('chap4'), chapitre_path(id: 4))
  %li.unavailable=link_to(t('chap5'), chapitre_path(id: 5))
